body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/loginImagen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/Cabecera3.png ) no-repeat;
    padding: 40px;
    text-align: center;
    background-size: cover;
    background-color: #009688;
}
.cabecera h1{
    text-align: center;
}
/*navegacion*/
nav >a{
    color:black;
    text-decoration: none;
    margin-right: 15px;
}
nav > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    position: absolute;
    top: 14%;
    left: 20%;
    transform: translate(0%,100%); 
}

.box {
    margin: 20px auto;
    width: 40% ;
    padding: 2% 5% ;
    border: 1px solid #009688;    
    margin-left: 50% 50%;
}
h1{
    text-align: center;
}

/*Espacios de ingreso*/

.box input[type = "textname"],.box input[type = "textlast"],
.box input[type = "password"],.box input[type = "textemail"],
.box input[type = "passwordconfirm"]{
    border: 0;
    margin: 10px 10% ;
    width: 80%;
    border: 2px solid #009688;
    outline: none;
    color: black;
    border-radius: 20px;
    padding:  1.5% 5%;
    display: block;
    transition: 0.5s;
}
.box input[type = "textname"]:focus,.box input[type = "textlast"]:focus,
.box input[type = "password"]:focus,.box input[type = "textemail"]:focus,
.box input[type = "passwordconfirm"]:focus{
    border-color:black;
}


.box input[type = "textname"],.box input[type = "textlast"]{

    text-transform: capitalize;

}
.box div{
    font-size: 12px;
}