td{
    
    border: 1px solid black;
    width: 30px;
    padding: 5px ;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.borrar{
    border: 1px solid white;
}
th{
    width: 30px;
    padding: 5px;
}